<div class = "bg-img">
  <h1 class = "centered">Bora Jogar?</h1>
  <div class = "button">Find a field</div>
  </div>


<div class = "container p-4">
  <div class="">
    <%= image_tag 'soccer_ball.jpg', class: 'h-25 w-25 rounded', alt: "soccer ball"%>
  </div>
  <div class="">
    <%= image_tag 'soccer_player.jpg', class: 'h-25 w-25 rounded', alt: "soccer player"%>
  </div>
</div>

<footer class="absolute text-center text-white" style="background-color:#495057;">
  <div class="container pt-5">
    <section class="mb-5">

      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-twitter"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-instagram"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-linkedin"></i
      ></a>
    </section>
  </div>

  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  </div>
</footer>
